/*
colors:
sort: #141414;
grå: #f1f1f1;
hvid: #ffffff;

gul: #ffdd00;
orange: #ff801c;
rød: #f76769;
lys-blå: #009fc1;
mørk-blå: #287bb2;
*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* henter skrifttyperne */
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Amatic SC";
  src: url(../fonts/amatic-sc/AmaticSC-Regular.ttf);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #141414;
  font-family: Raleway, sans-serif;
}

h1, h2, h3 {
	font-family: "Amatic SC", serif;
    margin:0;
    padding: 0;
}

nav{
  background-color: transparent;
  box-shadow: none;
  height: 110px;
  display: flex;
}

nav ul.right{
  margin-top: 45px;
}

nav ul li a{
  color: #141414;
}

.brand-logo{
  align-self: flex-start;
}

.brand-logo img{
  width: 250px;
  margin-top: 10px;
}

.sidenav-trigger{
  color: #141414;
}

.navigation-banner{
  margin: 30px 0;
  text-align: center;
}

.navigation-banner h1{
  font-size: 2em;
  margin: 20px 0;
  color: white;
}

/* farvet bg til hovedsageligt navigation-banner */
.color-orange{ background-color: #ff801c; }
.color-blue{ background: #287bb2; }
.color-red{ background: #f76769; }


.wrapper{
  background-color: dodgerblue;
  min-height: 100vh;
  height: auto;  
  flex: 1 0 auto;
}

.banner-box {
    background-color: aquamarine;
	height: auto;
	width: 100%;
    margin: 20px 0;

}

.banner-box-right{
	text-align: right;
    background-color: chartreuse;
}

/*--------------- Footer styling --------------*/ 
.page-footer{
  background-color: #f1f1f1;
  color: #141414;
  margin-top: 30px;
}

.footer-logo img{
  max-width: 200px;
}

.footer-copyright{
  text-align: center;
}

footer .footer-copyright .container{
  color: #141414;
}

.some-links {
  width: 70px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: auto;
}

.some-links img{
  width: 70px;
  max-width: 100%;
}